[mysqld]
server-id = 10
log-bin = mysql-bin-m1
# Шаг инкремента для генерации автоинкрементных ID (чтобы ключи не пересекались)
auto_increment_increment = 2
# Начальное смещение. Этот сервер будет создавать строки с ID: 1, 3, 5, 7, 9...
auto_increment_offset = 1
