[mysqld]
# Уникальный номер сервера в сети репликации. У главного сервера всегда ставится 1.
server-id = 1

# Включаем запись бинарного лога изменений и задаем префикс для его файлов.
log-bin = mysql-bin

# Сервер будет реплицировать только изменения, происходящие внутри базы sakila.
binlog_do_db = sakila
