[mysqld]
# Уникальный номер подчиненного сервера. Он обязан отличаться от ID мастера, ставим 2.
server-id = 2

# Включаем ведение ретрансляционного лога (Relay Log) для временного хранения логов мастера.
relay-log = mysql-relay-bin

# Защищаем базу: запрещаем локальное изменение данных на Слейве. Изменения идут только от Мастера.
read_only = 1
